body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width:17px;
  height:17px;
}
::-webkit-scrollbar {
  background-color: rgb(255,255,255); /* background color */
}
::-webkit-scrollbar-track {
  border:8px solid rgb(255,255,255); /* background color */
  background-color:rgb(230,230,230); /* light border color */
}
::-webkit-scrollbar-thumb {
  border:8px solid rgb(255,255,255); /* background color */
  background-color: #00A19D; /* dark border color */
  min-height:24px;
  min-width:24px;
}

p {
  color: #8f8f8f;
  line-height: 1.5;
  font-size: 1.0rem;
}

/* Containers */
.container {
  padding: 7% 15%;
}

/* Titles */
.section-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #00A19D;
  text-shadow: 2px 1px #616161;
}

/* Beginning Section */
#beginning {
  background-color: #A8ECE7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Navbar */
.nav {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00A19D;
  line-height: 1.5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  display: flex;
  align-items: center;
  /* padding: 25px; */
  margin-left: 4rem;
}

.navbar-brand-logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #A8ECE7;
  text-shadow: 2px 1px #616161;
  text-decoration: none;
}

.nav-list {
  display: flex;
  margin-right: 12rem;
  list-style: none;
}

li {
  padding: 10%;
}

.nav-list a {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #A8ECE7;
}

.list-item:hover {
  text-shadow: 2px 1px #303030;
  transition: 0.4s;
}


.hamburger {
  display: none;
  cursor: pointer;
  padding: 3%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opcity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-list {
    position: fixed;
    margin-top: 0;
    left: -120%;
    padding: 0;
    flex-direction: block;
    background-color: #00A19D;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list a {
    margin-top: 10px;
    font-size: 1.0rem;
  }

  .nav-list.active {
    left: 0;
  }
}

/* Greeting Section */
#greeting-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.0rem;
  font-weight: 700;
  color: #00A19D;
  text-shadow: 2px 1px #616161;
}

#greeting {
  justify-content: center;
  align-items: center;
}

#greeting-p {
  font-size: 1.5rem;
  color: #303030;
}

/* About Section */
.about-info {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.about-img {
    max-width: 80%;
}

.about-skills {
  color: #00A19D;
  font-size: 1.3rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-title {
    margin-bottom: 0.5rem;
  }

  .section-paragraph {
    margin-top: 0.2rem;
  }
}

/* PROJECTS SECTION */
#projects {
  background-color: #A8ECE7;
}

#projects-headertitle {
  margin-bottom: 3rem;
  padding-bottom: 8%;
}

.project {
  padding: 5%;
}

.project1, .project2, .project3 {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 1%;
}

.project-image {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-paragraph {
  color: #8f8f8f;
  line-height: 1.5;
  font-size: 0.9rem;
  padding: 48px;
}

.project-title {
  color: #00A19D;
}

.live-repo {
  display: inline-block;
  margin-top: -3rem;
  font-size: 2rem;
  text-align: center;
  padding: 8%;
  color: #A8ECE7;
  text-shadow: 2px 1px #00A19D;
}

.live-repo:hover {
  color: #00A19D;
  text-shadow: 2px 1px #A8ECE7;
  transition: 0.4s;
}

/* Contact Section */
.icon-section {
  margin-top: 3rem;
}

.icons {
  padding: 3%;
  color: #A8ECE7;
  text-shadow: 2px 1px #00A19D;
  transition: 0.4s;
}

.icons:hover {
  color: #00A19D;
  text-shadow: 2px 1px #A8ECE7;
}

/* Footer */
#footer {
  background-color: #00A19D;
  padding: 3% 15%;
}

#footer-text {
  color: #303030;
}


/* @media (max-width: 768px) {
  [class^="panel_"] {
      overflow-y: auto;
      position: relative;
      width: inherit;
      height: inherit;
  }
} */

/* .about-img {
  overflow: hidden;
} */
/* Media Queries */
